<div class="gh-btns">
  <a href="https://discord.me/achievecoin">
    <img src="/images/discord_32x32.png">Discord
  </a>
  &nbsp;&nbsp;
  <a href="https://www.facebook.com/achievecoin">
    <img src="/images/if_facebook_328029.png">Facebook
  </a>
  &nbsp;&nbsp;
  <a href="https://twitter.com/AchieveCoin">
    <img src="/images/if_twitter_letter_328078.png">Twitter
  </a>
  &nbsp;&nbsp;
  <a href="https://t.me/achievecoin">
    <img src="/images/if_telegram_328074.png">Telegram
  </a>
  &nbsp;&nbsp;
  <a href="mailto:support@achievecoin.org?subject=Support%20From%20Website">
    <img src="/images/email.png">Email
  </a>
</div>
