<ul>
  <li {% if page.category contains 'docs' %}class="pure-menu-selected"{% endif %}>
    <a href="{{site.baseurl}}/documentation.html">
      Features
    </a>
  </li>
  <li {% if page.category contains 'examples' %}class="pure-menu-selected"{% endif %}>
    <a href="{{site.baseurl}}/examples.html">
      Roadmap
    </a>
  </li>
  <li {% if page.category contains 'tests' %}class="pure-menu-selected"{% endif %}>
    <a href="{{site.baseurl}}/tests.html">
      ICO
    </a>
  </li>
  <li>
    <a href="https://github.com/hilios/jQuery.countdown">
      GitHub Project
    </a>
  </li>
  <li>
    <a href="http://plugins.jquery.com/countdown/">
      Participate
    </a>
  </li>
</ul>
